<!doctype html>
<html>

<head>
    <title>DHT22 Temperature and Humidity <%= filtertype %> Reading</title>
    
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="Chart.min.js"></script>
    <script src="hammer.min.js "></script>
    <script src="chartjs-plugin-zoom.min.js "></script>
    <script src="jquery-3.5.1.min.js"></script>
    <script src="script.js"></script>
</head>

<body>
<div id="divChart">
<canvas id="dhtChart" ></canvas>

<div class="clsButton">
<form action="/">
    <input type="submit" value="Plot 1-Day" />
</form>
</div>

<div class="clsButton">
<form action="/">
    <input type="hidden" name="filter" value="month"/>
    <input type="submit" value="Plot 30-Days" />
</form>
</div>

<div class="clsButton">
<form action="/">
    <input type="hidden" name="filter" value="all"/>
    <input type="submit" value="Plot All" />
</form>
</div>
<br/>
<br/>
<button id="btnShowHideData">Show/Hide Raw Data</button>
<div id="rawJsonData"></div>
</div>
</body>
</html>

<script type='text/javascript'>
    var chartData = <%- JSON.stringify(chartdata) %>;
    var titleText = "DHT22 Temperature and Humidity <%- filtertype %> Reading";
</script>
