<!doctype html>
<html>

<head>
	<title>DHT22 Temperature and Humidity Readings</title>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>

<body>
<div style="width:85%; margin: auto;">
<canvas id="dhtChart" ></canvas>
</div>
<script>
var chartData = <%- JSON.stringify(chartdata) %>;
var ctx = document.getElementById('dhtChart').getContext('2d');

parsedData = parseChartData(chartData);

var dhtChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: parsedData.datetime,
        datasets: [{
            label: 'Humidity %',
            data: parsedData.humidity,
            backgroundColor: [
             	'rgb(54, 162, 235)'
            ],
            borderColor: [
               'rgb(54, 162, 235)'
            ],
            borderWidth: 5,
            fill: false
        }, {
            label: 'Temperature °C',
            
            data: parsedData.temperature,
            backgroundColor: 'rgb(255, 99, 132)',
            type: 'bar'
        }]
    },
    options: {
        title: {
					display: true,
					text: 'DHT22 Temperature and Humidity Readings'
				},
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    suggestedMax: 70
                }
            }],
            xAxes: [{
                ticks: {
                    fontSize: 12
                }
            }]
        }
    }
});

//Source: https://stackoverflow.com/a/25275808
function formatDate(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return date.getDate() + "/" + date.getMonth() + 1 + "/" + date.getFullYear() + " " + strTime;
}

function parseChartData(chartData){
    let datetimes = [];
    let humidities = [];
    let temperatures = [];

    for (i = 0; i < chartData.length; i++) {
        datetimes.push(formatDate(new Date(chartData[i].datetime)));
        humidities.push(chartData[i].humidity);
        temperatures.push(chartData[i].temperature);
    }

    return { datetime : datetimes, humidity : humidities, temperature : temperatures };
}
</script>
</body>
</html>
